<section class="engagements" aria-labelledby="engagements-title">

  <h2 class="engagements__title" id="engagements-title">Our Commitments</h2>

  <div class="engagements__grid">
    <div class="engagements__item">
      <img src="assets/images/home/production-local.png"
        alt="Image d'une ferme avec le texte 'Organic Local Production'" class="engagements__image">
      <h3>Organic Local Production</h3>
      <p>We provide you with healthy vegetables, grown close to home, contributing to environmental protection.</p>
    </div>

    <div class="engagements__item">
      <img src="assets/images/home/biodiversite.png" alt="Image représentant la biodiversité, abeilles et plantes"
        class="engagements__image">
      <h3>Biodiversity</h3>
      <p>300 varieties of fruits and vegetables, 100 species of bees, and a habitat for local wildlife. That’s
        biodiversity!</p>
    </div>

    <div class="engagements__item">
      <img src="assets/images/home/manuel.png" alt="Illustration du travail manuel dans l'agriculture"
        class="engagements__image">
      <h3>Manual Labor</h3>
      <p>We value the work of every team member, putting people at the heart of our business.</p>
    </div>
  </div>
</section>
