<div class="video-carousel">
  <video #myVideo control class="video-carousel__video w-full h-full object-cover" autoplay muted loop>
    <source src="assets/videos/video-farm4.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="video-carousel__content">
    <h2 class="video-carousel__title">Dive into the Freshness of BioFarm</h2>
    <p class="video-carousel__description">Your favorite organic fruits and vegetables, freshly picked for a healthier life.</p>
</div>
</div>
