$primary-color: #7FC242;
$secondary-color: #3b3b3b;
$background-color: #FCFEFD;
$text-color: black;
$hover-color: #007BFF;
$red-color: red;

.footer {
  position: sticky;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  background-color: $background-color; /* Ajuster la couleur selon tes besoins */
  backdrop-filter: blur(10px);
  margin-top: 1.2rem;

  * {
    color: $text-color;
  }

  .footer-content {
    position: relative;
    display: flex;
    padding: 20px 0;

    img {
      width: 110px !important;
      height: 110px;
      border-radius: 0.5rem;
    }

    .footer-section {
      justify-content: center;
      flex: 1 1 200px;
      color: $text-color !important;

      h3 {
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: bold;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          a {
            text-decoration: none;
            transition: color 0.3s ease;
            color: $text-color;

            &:hover {
              color: $hover-color;
            }
          }
        }
      }
    }
  }
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;

    .social-icon {
      font-size: 24px;
      color: $text-color;
      text-decoration: none;
      background-color: #FFFFFF;
      border-radius: 50%;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.3s ease, background-color 0.3s ease;

      &:hover {
        transform: translateY(-5px);
      }
    }
  }

  .footer-bottom {
    backdrop-filter: blur(10px);
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    color: $text-color;

    span {
      color: $red-color;
    }

    p, a {
      color: $text-color;
      transition: color 0.3s ease;

      &:hover {
        color: $hover-color;
      }
    }
  }
}
