<footer class="footer p-3">
  <div class="footer-content">
    <div class="footer-section flex w-full justify-center">
      <img src="assets/images/logo.png" alt="app logo" class="logo-img">
    </div>
    <div class="footer-section address">
      <h3>BioFarm</h3>
      <p>1234 Rue de la Campagne<br>5680 Village Vert, Belgique</p>
      <p>Email: contact&#64;biofarm.be</p>
      <p>GSM: +32 478 00 00 00</p>
    </div>
    <div class="footer-section links">
      <h3>Informations</h3>
      <ul>
        <li><a href="#">Conditions générales</a></li>
        <li><a href="#">Politique de confidentialité</a></li>
        <li><a href="#">Contactez-nous</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </div>
    <div class="footer-section social-media">
      <h3>Suivez-nous</h3>
      <div class="social-icons flex justify-center w-full">
        <a href="#" class="social-icon instagram"><i class="fa-brands fa-instagram"></i></a>
        <a href="#" class="social-icon youtube"><i class="fa-brands fa-youtube"></i></a>
        <a href="#" class="social-icon facebook"><i class="fa-brands fa-facebook"></i></a>
        <a href="#" class="social-icon twitter"><i class="fa-brands fa-x-twitter"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom flex justify-around items-center text-black w-full">
    <div class="payment-logos flex justify-center gap-5">
      <img class="w-12" src="assets/images/paiement/paypal.png" alt="PayPal" />
      <img class="w-12" src="assets/images/paiement/visa.png" alt="Visa" />
      <img class="w-12" src="assets/images/paiement/master.png" alt="MasterCard" />
    </div>
    <p>BioFarm  2024 &copy; - All Right Reserved - Made with <span>&hearts;</span> By Kouumss</p>
    <p><a href="#">Mentions légales</a> - <a href="#">Politique de cookies</a></p>
  </div>
</footer>


