$background-gradient: linear-gradient(to bottom, #a4c380, #5c835c52);

.home-component {
  position: relative;
  box-sizing: border-box;

  .parallax-meet-farmers {
    position: sticky;
    overflow: hidden;
    background: url('/assets/images/home/farm-background.png') no-repeat center center fixed;
    background-attachment: fixed;
    background-size: cover;

    .parallax-section {
      color: #ffffff;
      text-align: center;
      padding: 2rem;
      background: rgba(0, 0, 0, 0.5);
      /* Semi-transparent background for readability */
      border-radius: 8px;
      max-width: 800px;
      margin: 0 auto;
    }

    .parallax-section h2 {
      font-size: 2.4rem;
      margin-bottom: 1rem;
    }

    .parallax-section p {
      font-size: 1.2rem;
      line-height: 1.6;
      margin: 0.5rem 0;
    }

  }
}
