img {
  transition: transform 0.2s ease !important;
  overflow: hidden !important;

  &:hover {
    transform: scale(1.05) !important;
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

mat-card
{
  background-color: #FFFFFF !important;
  color: black !important;
  overflow: hidden !important;
}

h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
}
mat-card-actions{
  display: flex;
  justify-content: center;
}
