<header>
  <nav class="navbar" [ngClass]="{
  'display-not-home': !isHomePage,
  'display-in-home': isHomePage,
  'header-scrolled': isScrolled && !isHomePage,
  'bg-transparent': isHomePage,
  'header-scrolled-home': isScrolled && isHomePage }">
    <div class="logo">
      <img routerLink="/" src="assets/images/logo.png" alt="app logo">
    </div>

    <button id="menu-toggle" class="burger" (click)="toggleMenu()">
      <svg class="burger-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>

    <ul class="nav-links" [ngClass]="{ 'active': toggleMenu() }">
      <li><a class="link" routerLink="" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Home</a>
      </li>
      <li class="dropdown">
        <a class="link" routerLink="shop" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Shop</a>
        <ul class="dropdown-menu">
          <li><a>Brands</a></li>
          <li><a>Types</a></li>
          <li><a>Vegetables</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="link" routerLink="gallery" [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active">Gallery</a>
        <ul class="dropdown-menu">
          <li><a>Photos</a></li>
          <li><a>Videos</a></li>
        </ul>
      </li>
      <li><a class="link" routerLink="newsletter" [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active">Newsletter</a></li>
      <li class="dropdown">
        <a class="link" routerLink="recipe" [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active">Recipe</a>
        <ul class="dropdown-menu">
          <li><a routerLinkActive="active">Breakfast</a></li>
          <li><a routerLinkActive="active">Lunch</a></li>
          <li><a routerLinkActive="active">Dinner</a></li>
        </ul>
      </li>
      <li><a class="link" routerLink="contact" [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active">Contact</a></li>
    </ul>

    <div class="flex gap-3 emot">
      <i class="heart fa-regular fa-heart text-3xl text-red-600"></i>
      <i class="fas fa-shopping-cart text-3xl"></i>
    </div>

    <div class="flex gap-3 actions">
      <button class="btn">
        <mat-icon class="login-icon me-2">lock</mat-icon> Login
      </button>
      <button class="btn">
        <mat-icon class="register-icon me-2">person_add</mat-icon> Register
      </button>
    </div>
  </nav>
</header>




<!-- <header [ngClass]="{ 'header-scrolled': isScrolled && !isHomePage , 'bg-transparent': isHomePage, 'header-scrolled-home' : isScrolled && isHomePage  }">
  <nav class="navbar" [ngClass]="{ 'display-home': isHomePage}">
    <div class="logo">
      <img routerLink="/" src="assets/images/logo.png" alt="app logo">
    </div>

    <button id="menu-toggle" class="burger" (click)="toggleMenu()">
      <svg class="burger-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>

    <ul class="nav-links" [ngClass]="{ 'active': toggleMenu() }">
      <li><a class="link" routerLink="" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Home</a>
      </li>
      <li class="dropdown">
        <a class="link" routerLink="shop" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Shop</a>
        <ul class="dropdown-menu">
          <li><a>Brands</a></li>
          <li><a>Types</a></li>
          <li><a>Vegetables</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="link" routerLink="gallery" [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active">Gallery</a>
        <ul class="dropdown-menu">
          <li><a>Photos</a></li>
          <li><a>Videos</a></li>
        </ul>
      </li>
      <li>
        <a class="link" routerLink="newsletter" [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active">Newsletter</a>
      </li>
      <li class="dropdown">
        <a class="link" routerLink="recipe" [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active">Recipe</a>
        <ul class="dropdown-menu">
          <li><a routerLinkActive="active">Breakfast</a></li>
          <li><a routerLinkActive="active">Lunch</a></li>
          <li><a routerLinkActive="active">Dinner</a></li>
        </ul>
      </li>
      <li><a class="link" routerLink="contact" [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active">Contact</a></li>
    </ul>

    <div class="flex gap-3 emot">
      <i class="heart fa-regular fa-heart text-3xl text-red-600"></i>
      <i class="fas fa-shopping-cart text-3xl"></i>
    </div>

    <div class="flex gap-3 actions">
      <button class="btn">
        <mat-icon class="login-icon me-2">lock</mat-icon>
        Login</button>
      <button class="btn">
        <mat-icon class="register-icon me-2">person_add</mat-icon>
        Register</button>
    </div>
  </nav>
</header> -->



<!-- <header [ngClass]="{
  'header-scrolled': isScrolled,
  'heart' : isHomePage,
  'bg-transparent': isHomePage,
  'text-white': isHomePage,
   }">
  <nav class="navbar">
    <div class="logo">
      <img routerLink="/" src="assets/images/logo.png" alt="app logo">
    </div>
    <button id="menu-toggle" class="burger">
      <svg class="burger-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>
    <ul class="nav-links">
      <li><a routerLink="" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Home</a></li>
      <li><a routerLink="shop" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Shop</a></li>
      <li><a routerLink="gallery" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Gallery</a></li>
      <li><a routerLink="newsletter" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Newsletter</a>
      </li>
      <li><a routerLink="recipe" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Recipe</a></li>
      <li><a routerLink="contact" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Contact</a></li>
    </ul>

    <div class="flex gap-3 emot">
      <i class="heart fa-regular fa-heart text-3xl text-red-600"></i>
      <i class="fas fa-shopping-cart text-3xl"></i>
    </div>

    <div class="flex gap-3 actions">
      <button class="btn">
        <mat-icon class="login-icon me-2">lock</mat-icon>
        Login</button>
      <button class="btn">
        <mat-icon class="register-icon me-2">person_add</mat-icon>
        Register</button>
    </div>
  </nav>
</header> -->
