<header [ngClass]="{'header-scrolled': isScrolled}">
  <nav class="navbar">
    <div class="logo">
      <img src="/images/logo.png" alt="app logo">
    </div>
    <button id="menu-toggle" class="burger">
      <svg class="burger-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>
    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">Shop</a></li>
      <li><a href="#">Gallery</a></li>
      <li><a href="#">Newsletter</a></li>
      <li><a href="#">Recipe</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <div class="actions">
      <i class="fas fa-shopping-cart text-2xl"></i>
      <button class="button">
        <mat-icon class="login-icon me-2">lock</mat-icon>
        Login</button>
      <button class="button">
        <mat-icon class="register-icon me-2">person_add</mat-icon>
        Register</button>
    </div>
  </nav>
  <!-- Mobile Menu -->
  <div id="mobile-menu" class="mobile-menu hidden">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Shop</a></li>
      <li><a href="#">Gallery</a></li>
      <li><a href="#">Newsletter</a></li>
      <li><a href="#">Recipe</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <div class="mobile-actions">
      <button class="button">
        <mat-icon class="login-icon me-2">lock</mat-icon>
        Login</button>
      <button class="button">
        <mat-icon class="register-icon me-2">person_add</mat-icon>
        Register</button>
    </div>
  </div>
</header>
